.header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1000px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header__nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}